services:
  postgres:
    image: postgres:14.19-alpine3.21@sha256:5078d8d88aa34e961582822feb73eef6b1b1f45965debdadab848bd254c2d336
    container_name: ${POSTGRES_CONTAINER_NAME:-astrobio-pg}
    restart: on-failure:5
    environment:
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "${POSTGRES_HOST:-127.0.0.1}:${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/postgresql
    # networks:
    #   - app-network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "${POSTGRES_USERNAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  redis:
    image: redis:8.2.2-bookworm@sha256:4521b581dbddea6e7d81f8fe95ede93f5648aaa66a9dacd581611bf6fe7527bd
    container_name: ${REDIS_CONTAINER_NAME:-astrobio-redis}
    restart: on-failure:5
    env_file: .env
    ports:
      - "${REDIS_HOST:-127.0.0.1}:${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/redis
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    # networks:
    #   - app-network
    command: ["redis-server", "/usr/local/etc/redis/redis.conf", "--requirepass", "${REDIS_PASSWORD}", "--bind", "0.0.0.0", "--port", "${REDIS_PORT:-6379}"]
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  # backend:
  #   env_file: .env
  #   environment:
  #     - DATABASE_URL="postgresql://${POSTGRES_USERNAME:-postgres}:${POSTGRES_PASSWORD:-postgres}@postgres:5432/sbastrobiodb?schema=public"
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   command: ${COMMAND}
  #   restart: on-failure:5
  #   depends_on:
  #     postgres:
  #       condition: service_healthy
  #     redis:
  #       condition: service_healthy
  #   ports:
  #     - "127.0.0.1:${APP_PORT:-3000}:3000"
  #   volumes:
  #     - ./src:/app/src
  #     - ./prisma:/app/prisma
  #     - /app/node_modules
  #     - backend_uploads:/usr/src/app/uploads
  #   networks:
  #     - app-network
  #   healthcheck:
  #     test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:${APP_PORT:-3000}/health"]
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3
  #     start_period: 10s

volumes:
  postgres_data:
    driver: local
  redis_data:
    driver: local
#   backend_uploads:
#     driver: local

# networks:
#   app-network:
#     driver: bridge
